.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

.vscode/
.idea/
*.swp
*.swo

.dockerignore

*.log
logs/

tests/
test/
.coverage
.pytest_cache/

dist/
build/
*.egg-info/

.env
.env.local
.env.prod

.DS_Store
Thumbs.db

staticfiles/
mediafiles/
